<nav class="navbar navbar-inverse navbar-fixed-top" id="topnav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><strong>M</strong>apas</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("TrazarPunto", "Home")">Trazar ruta</a></li>
                <li><a href="@Url.Action("About","Home")">Acerca de</a></li>
                <li><a href="@Url.Action("Contacto","Home")">Contacto</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
